@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  font-family: 'Outfit', sans-serif;
}

::-webkit-scrollbar{
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #5044E5;
}
